{% extends 'home.html' %}

{% block title %}Product detail{% endblock %}

{% block content %}
<h2>Product detail</h2>

    <table>
    <tr>
        <td><b>Title:</b></td>
        <td>{{ that_one_product.title }}<br></td>
    </tr>
    <tr>
        <td><b>Desc</b></td>
        <td>{{ that_one_product.Desc }}<br></td>
    </tr>

    <tr>
        <td><b>Type:</b></td>
        <td>{{ that_one_product.get_type_display }}<br></td>
    </tr>

    <tr>
        <td><b>Date published:</b></td>
        <td>{{ that_one_product.date_published }}<br></td>
    </tr>
    <tr>
        <td><b>Entered by:</b></td>
        <td>{{ that_one_product.user }}<br></td>
    </tr>
     <tr>
        <td><b>Product</b></td>
        <td>   <img src="{{  that_one_product.Img.url }}" alt="tets" style="max-height:300px"><br></td>
    </tr>


    </table>
    <button type="button" class="btn btn-danger">kaufen</button>

    <br>
    <a href="{% url 'product-list' %}">Back to all products</a>
{% endblock %}