{% extends "base.html" %}
{% block title %}Products list{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "products/product_style.css" %}">
<div class="product-page">
<ul>
    {% for product in all_the_products %}
        <div class="product-info">
            <a href="{% url 'product-detail' product.id %}">
                <img src="{{ product.Img.url}}" alt="tets" style="max-height:200px">
                <br>
                <p class="title"><b>{{ product.title }}</b></p><br>
                <p>Genre: {{ product.get_type_display }}</p>
                <p>Erstellt von:{{ product.user }}</p>


            </a>
           {% if product.image %}
               <a href="{{ product.document.url }}"> document</a>
{% endif %}
        </div>
    {% endfor %}
</ul>
</div>

{% endblock %}