<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block footer_scripts %}

{% endblock %}
{% block title %}Product detail{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "products/product_details_style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "products/review.css" %}">
    <div class="d-flex flex-row">
        <div class="card mb-3 d-flex flex-row card-img-top m-5 p-5" style="width: min-content">
            {% if that_one_product.Img %}
                <img src="{{ that_one_product.Img.url }}" style="width:250px" height="250px">
            {% endif %}
            <div class="ml-5" style="width: 20rem;">
                <h2 class="card-title"> {{ that_one_product.title }}</h2>
                <p class="card-text"> {{ that_one_product.Desc }}</p>
                <div class="card-text">
                    <small class="text-muted">type: {{ that_one_product.get_type_display }}</small>
                    <br>
                    <small class="text-muted"> Released on: {{ that_one_product.date_published }}</small>
                    <br>
                    <small class="text-muted"> Released by :{{ that_one_product.user }}</small><br>
                    {% if that_one_product.document %}
                        <a href="{{ that_one_product.document.url }}"> document info</a>
                    {% endif %}
                    <br>
                    <div class="mt-5">
                        {% if averageRate >= 1.0 and  averageRate <= 1.9 %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endif %}
                        {% if averageRate >= 2.0 and  averageRate <= 2.9 %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>

                        {% endif %}
                        {% if averageRate >= 3.0 and  averageRate <= 3.9 %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>

                        {% endif %}
                        {% if averageRate >= 4.0 and  averageRate <= 4.9 %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>


                        {% endif %}
                        {% if averageRate >= 5 %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 card-img-top my-5 p-5" style="width: 400px">
            <h5>24,99 €</h5>
            <small>Preise inkl. temporär gesenkter USt. – ggf. Variation an der Kasse je nach Lieferadresse.
                Informationen zur gesenkten USt. in Deutschland.</small>
            <p style="color: green" class="mt-3">Auf Lager</p>
            <button>Kaufen</button>
        </div>
    </div>
    <hr>

    <div class="ml-5">
        <b style="color: crimson">Do you have a comment for this book?</b><br>
        <form method="POST">

            {% csrf_token %}
            {{ comment_form.text }}
            {{ comment_form.rate }}


            <b style="color: crimson">please give a number between 1 and 5</b><br>
            <br>
            <button type="submit" class="btn btn-outline-secondary">Add comment</button>
        </form>

    </div>





    <div class="row">
    {% for comment in comments_for_that_one_product %}
        <div class="col-md-11">

            <div class="media g-mb-30 media-comment">
                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                     src="{{ comment.user.profile.profile_picture.url }}" alt="Image Description">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                    <div class="g-mb-15">
                        <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ comment.user.username }}</h5>

                        <a class="report" href="{% url 'report-vote' that_one_product.id comment.id 'REPORT' %}"
                           style="float: right">{{ comment.get_report_count }}

                            <i class="fa fa-flag" aria-hidden="true"></i>
                            report this Comment


                        </a>
                        {% if comment.get_report_count >= 2 %}
                            <div class="alert alert-danger">
                                <strong>Danger!</strong>spam comment or Racism please ignore that one Comment

                            </div>
                        {% endif %}
                        <span class="g-color-gray-dark-v4 g-font-size-12">{{ comment.timestamp }}</span>
                    </div>

                    <p>{{ comment.text }}</p>
                    <ul class="list-inline d-sm-flex my-0">
                        <li class="list-inline-item g-mr-20">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                               href="{% url 'comment-vote' that_one_product.id comment.id 'LIKe' %}">
                                <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                                {{ comment.get_upvotes_count }}

                            </a>
                        </li>
                        &nbsp;&nbsp;&nbsp;
                        <li class="list-inline-item g-mr-20">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                               href="{% url 'comment-vote' that_one_product.id comment.id 'Dislike' %}">
                                <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                                {{ comment.get_downvotes_count }}
                            </a>
                        </li>


                        <li class="list-inline-item ml-auto">
                            {% if comment.rate >= 1.0 and  comment.rate <= 1.9 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            {% endif %}
                            {% if comment.rate >= 2.0 and  comment.rate <= 2.9 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>

                            {% endif %}
                            {% if comment.rate >= 3.0 and  comment.rate <= 3.9 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>

                            {% endif %}
                            {% if comment.rate >= 4.0 and  comment.rate <= 4.9 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>


                            {% endif %}
                            {% if comment.rate >= 5 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            {% endif %}
                        </li>
                    </ul>
                    {% if comment.user == request.user %}
                        <a style="color: #ff6d0a; " href="{% url "delete" pk=comment.id %}">Delete Your comment</a>
                        <a style="color: #ff6d0a;" href="{% url "update" pk=comment.id %}">Edit your Comment</a>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}
