.sidenav {
    height: 79%;
    overflow-x: hidden;
    padding-top: 20px;
    width: 100%;
}
.login-main-text{
text-align: center;
    color: #df7b49;
    font-size:40px;
    font-weight: 300;
}

.login-main-text h2{
    font-weight: 300;
    font-size: 50px;
}
.form-control:focus {
  border-color: #df7b49;
  box-shadow: inset 0 1px 1px #df7b49, 0 0 8px #df7b49;
}


.signUp{
    color: #df7b49;
}


.btn:hover{
    background-color:#df7b49;
}