ul{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}
.product-info{
    margin: 0.4em;
    padding: 1em;
    background-color: white;
    width: 15em;
    height: 20em;
    overflow: hidden;

}



.product-info:hover{
    border-style: solid;
    border-width: thin;
    border-color: #888888;
}

a{
    text-decoration: none;
    color: black;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.title{
    text-align: center;
}

.filterAndProducts{
    display: flex;
}

.search{
    display: flex;
    height: 2em;
    margin-top: 2em;
}

.submit-search{

}


.filter{
    margin-top: 2em;
    margin-bottom: 2em;
}


.hrefToSearch{
    margin-top: 2em;
    color: #df7b49;
}